@import 'navigation.scss';
@import 'products.scss';
* {
 box-sizing: border-box;
}

body {
 width: 90%;
 margin: 50px auto;
 font-size: 16px;
 font-family: Karla, sans-serif;
 font-style: normal;
 font-weight: 400;
 color: #666;
 line-height: 1.375;
}
