<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI=" crossorigin="anonymous" />
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>

<body>
  <nav class="navigation">
    <div class="navigation__title">Jackets</div>
    <div class="navigation__search">
      <div class="navigation__filter">
        <label class="navigation__label">FILTER BY</label>
        <select class="navigation__select">
          <option>Jacket</option>
          <option>Jacket2</option>
          <option>Jacket3</option>
        </select>
      </div>
      <div class="navigation__sort">
        <label class="navigation__label">SORT BY</label>
        <select class="navigation__select">
          <option>by date</option>
          <option>by price</option>
        </select>
      </div>
    </div>
  </nav>
  <section class="products">
    <div class="product">
      <span class="product__sale"></span>
      <div class="product__image">
        <img
          src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366">
      </div>
      <div class="product__info">
        <div class="product__name">Haze Versity</div>
        <div class="product__price">150$</div>
        <div class="product__avail">SOLD OUT</div>
      </div>
    </div>

    <div class="product">
      <span class="product__sale"></span>
      <div class="product__image">
        <img
          src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366">
      </div>
      <div class="product__info">
        <div class="product__name">Haze Versity</div>
        <div class="product__price">150$</div>
        <div class="product__avail">SOLD OUT</div>
      </div>
    </div>
    <div class="product">
      <span class="product__sale"></span>
      <div class="product__image">
        <img
          src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366">
      </div>
      <div class="product__info">
        <div class="product__name">Haze Versity</div>
        <div class="product__price">150$</div>
        <div class="product__avail">SOLD OUT</div>
      </div>
    </div>
    <div class="product">
      <span class="product__sale"></span>
      <div class="product__image">
        <img
          src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366">
      </div>
      <div class="product__info">
        <div class="product__name">Haze Versity</div>
        <div class="product__price">150$</div>
        <div class="product__avail">SOLD OUT</div>
      </div>
    </div>
    <div class="product">
      <span class="product__sale"></span>
      <div class="product__image">
        <img
          src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366">
      </div>
      <div class="product__info">
        <div class="product__name">Haze Versity</div>
        <div class="product__price">150$</div>
        <div class="product__avail">SOLD OUT</div>
      </div>
    </div>
    <div class="product">
      <span class="product__sale"></span>
      <div class="product__image">
        <img
          src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366">
      </div>
      <div class="product__info">
        <div class="product__name">Haze Versity</div>
        <div class="product__price">150$</div>
        <div class="product__avail">SOLD OUT</div>
      </div>
    </div>
    <div class="product">
      <span class="product__sale"></span>
      <div class="product__image">
        <img
          src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366">
      </div>
      <div class="product__info">
        <div class="product__name">Haze Versity</div>
        <div class="product__price">150$</div>
        <div class="product__avail">SOLD OUT</div>
      </div>
    </div>

  </section>
</body>

</html>